<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

<ion-view title="iBucketList">
  <ion-nav-buttons side="secondary">
      <button class="button" ng-click="showAddWish()">
        Add Wish
      </button>
  </ion-nav-buttons>
     <ion-content>
    <!-- <div style="overflow:hidden;text-align:center;margin-top: 50px;">
        <span>
        	<h2>Succesfully Logged in !!</h2>
        </span>
      </div> -->
      <ul class="list">
        <li class="item" ng-repeat="wish in wishes">
            {{wish.wish}}
        </li>
      </ul>
    </ion-content>
</ion-view>
